body{
  margin-left: 150px;
}
.white-background{
  background-color: white;
  color: black;
}
.black-background{
  background-color: black;
  color: white;
}
.borders{
  border: dotted;
}
#dark{
  background-color: black;
  color: white;
  border-color: black;
}
#light{
  background-color: white;
  color: black;
  border-color: black;
}
.first{
  float: left;
}
.second{
  float: right;
  margin-right: 450px;
}
